.cover {
  padding-top: 90px;
}

.cover__container {
  max-width: 984px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.cover__title {
  max-width: 720px;
  margin: 0;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.1;
}

.cover__subtitle {
  max-width: 720px;
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
}

.cover__image {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 75px;
  }

  .cover__container {
    gap: 25px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    padding-top: 50px;
  }

  .cover__container {
    gap: 16px;
  }

  .cover__title {
    font-size: 40px;
  }

  .cover__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }
}
