.intro {
  padding-top: 90px;
}

.intro__container {
  width: 90%;
  max-width: 984px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.intro__title {
  max-width: 830px;
  margin: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.1;
}

.intro__quote {
  max-width: 740px;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
}

.intro__quote-author {
  max-width: 740px;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  text-align: right;
}

.intro__text {
  max-width: 740px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 45px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
  }

  .intro__quote {
    line-height: 1.3;
  }
}
