.places {
  width: 100%;
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.place {
  max-width: 980px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 1fr;
  gap: 48px 40px;
  grid-template-areas:
    "title website"
    "image text"
    "link text";
}

.place__title {
  margin: 0;
  grid-area: title;
  font-family: Inter;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.place__website {
  grid-area: website;
  align-self: flex-end;
}

.place__url-heading {
  margin: 0;
  color: #aaaaaa;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 12%;
  text-transform: uppercase;
}

.place__artist {
  margin: 0;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.place__image {
  grid-area: image;
  width: 100%;
  max-width: 460px;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
}
.place__image:hover {
  filter: brightness(50%);
}

.place__text {
  grid-area: text;
}

.place__paragraph {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.place__link {
  grid-area: link;
  width: 289px;
  height: 48px;
  color: #ffffff;
  text-decoration: none;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px 0px #00000040;
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.place__link:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

@media screen and (max-width: 768px) {
  .places {
    gap: 72px;
  }

  .place {
    max-width: 720px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    gap: 50px;
  }

  .place {
    max-width: 720px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    grid-template-areas:
      "title"
      "website"
      "image"
      "text"
      "link";
  }

  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
  }

  .place__website {
    padding: 0 16px;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
    padding: 0 16px;
  }
}
